<div class="row vh-100 bg-dark">
    <div class="col-6 offset-3 h-100 d-flex flex-row justify-content-center align-items-center">
        <form [formGroup]="otpForm">
        <div class="card">
            <div class="card-header text-center">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                    <div class="c-form-control-wrapper  ">
                        <label class="c-label" htmlFor="otp">Otp</label>
                        <input formControlName="otp" id="otp" class="c-form-control" type="text" placeholder="Enter otp " name="otp"  maxlength="25" minlength="3"/>
                        <span class="c-form-error" *ngIf="otp?.invalid">Otp is required</span>
                    </div>       
            </div>
            <div class="card-footer text-center">
                <button type="submit"  (click)="onSubmit()" class="c-button" >Verify</button>

            </div>
</div>
</form>

</div>
</div>